@model IEnumerable<rpaapp.Models.Document>

@{
    ViewData["Title"] = "Dashboard";
}

<div>
    <table class="table table-hover">  
        <thead>
            <th>Name</th>
            <th>Size</th>
            <th>Upload time</th>
        </thead> 
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        <a asp-action="Details" asp-controller="Home" asp-route-id="@item.fguid">@item.fguid</a>
                    </td>
                    <td>@item.fsize</td>
                    <td>@item.uploaded</td>
                </tr>
            }
        </tbody>
    </table>
</div>
