@{
    ViewData["Title"] = "Home Page";
}

<div>
    <a asp-controller="Home" asp-action="Repository">Repository (PDF-ovi)</a>
</div>
<div>
    <a asp-controller="Home" asp-action="Dashboard">Dashboard (Folderi)</a>
</div>