@{
    ViewData["Title"] = "Home Page";
}
@* 
<div>
    <a asp-controller="Home" asp-action="Repository"><button class="btn btn-primary" style="background-color: #034791;">Repository (PDF-ovi)</button></a>
</div>
<div style="padding-top: 25px;">
    <a asp-controller="Home" asp-action="Dashboard"><button class="btn btn-primary" style="background-color: #034791;">Dashboard (Folderi)</button></a>
</div> *@