@{
    ViewData["Title"] = "SimplyDoc Docs";
    var st = (int)ViewData["Stats"];
    Layout = null;
}

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Author: Tokić d.o.o." />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/rpaapp.styles.css" asp-append-version="true" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway" rel="stylesheet">
</head>

<body>
    <p>@st invoices completed so far!</p>
    <div class="row">
        <div class="col-md-2">
            <a href="#balance"> NG </a>
        </div>
        <div class="col-md-10">
            Some text
            <div style="padding-bottom: 100px;">
                Da da da
            </div>
            <div style="padding-bottom: 100px;">
                Da da da
            </div>
            <div style="padding-bottom: 100px;">
                Da da da
            </div>
            <div style="padding-bottom: 100px;">
                Da da da
            </div>
            <div style="padding-bottom: 100px;">
                Da da da
            </div>
            <div style="padding-bottom: 100px;">
                Da da da
            </div>
            <div style="padding-bottom: 100px;">
                Da da da
            </div>
            <div style="padding-bottom: 100px;">
                Da da da
            </div>
            <div style="padding-bottom: 100px;">
                Da da da
            </div>
            <div style="padding-bottom: 100px;">
                Da da da
            </div>
            <div style="padding-bottom: 100px;">
                Da da da
            </div>
            <div style="padding-bottom: 100px;">
                Da da da
            </div>
            <div id="balance" style="padding-bottom: 100px;">
                NG
            </div>
            <div style="padding-bottom: 100px;">
                Da da da
            </div>
            <div style="padding-bottom: 100px;">
                Da da da
            </div>
            <div style="padding-bottom: 100px;">
                Da da da
            </div>
            <div style="padding-bottom: 100px;">
                Da da da
            </div>
            <div style="padding-bottom: 100px;">
                Da da da
            </div>
            <div style="padding-bottom: 100px;">
                Da da da
            </div>
            <div style="padding-bottom: 100px;">
                Da da da
            </div>
            <div style="padding-bottom: 100px;">
                Da da da
            </div>
            <div style="padding-bottom: 100px;">
                Da da da
            </div>
            <div style="padding-bottom: 100px;">
                Da da da
            </div>
            <div style="padding-bottom: 100px;">
                Da da da
            </div>
            <div style="padding-bottom: 100px;">
                Da da da
            </div>
        </div>
    </div>
</body>


<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>