@model rpaapp.Models.Txt

@{
    ViewData["Title"] = "Invoice details";
}

<div>
    <a asp-controller="Home" asp-action="Details" asp-route-id="@Model.DocumentId">Back to folder</a>
</div>
<div style="padding: 0 15px 0 15px;">
    <h1>Review data</h1>

    <hr />
    <div class="row">
        <div class="col-md-8">
            <form asp-action="Resolve" id="frm" name="frm" enctype="multipart/form-data"> 
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group col-md-5">
                    <b><label asp-for="Name" class="control-label"></label></b>
                    <input asp-for="Name" class="form-control" required/>
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-group col-md-5">
                    <b><label asp-for="Group" class="control-label"></label></b>
                    <input asp-for="Group" class="form-control" required/>
                    <span asp-validation-for="Group" class="text-danger"></span>
                </div>
                <div class="form-group col-md-5">
                    <b><label asp-for="State" class="control-label"></label></b>
                    <input asp-for="State" class="form-control" required/>
                    <span asp-validation-for="State" class="text-danger"></span>
                </div>
                <div class="form-group col-md-5">
                    <b><label asp-for="VAT" class="control-label"></label></b>
                    <input asp-for="VAT" class="form-control" required/>
                    <span asp-validation-for="VAT" class="text-danger"></span>
                </div>
                <div class="form-group col-md-5">
                    <b><label asp-for="Currency" class="control-label"></label></b>
                    <input asp-for="Currency" class="form-control" required/>
                    <span asp-validation-for="Currency" class="text-danger"></span>
                </div>
                <div class="form-group col-md-5">
                    <b><label asp-for="BillingGroup" class="control-label"></label></b>
                    <input asp-for="BillingGroup" class="form-control" required/>
                    <span asp-validation-for="BillingGroup" class="text-danger"></span>
                </div>
                <div class="form-group col-md-5">
                    <b><label asp-for="IBAN" class="control-label"></label></b>
                    <input asp-for="IBAN" class="form-control" required/>
                    <span asp-validation-for="IBAN" class="text-danger"></span>
                </div>
                <div class="form-group col-md-5">
                    <b><label asp-for="VATobligation" class="control-label"></label></b>
                    <input asp-for="VATobligation" class="form-control" required/>
                    <span asp-validation-for="VATobligation" class="text-danger"></span>
                </div>
                <div class="form-group col-md-5">
                    <b><label asp-for="InvoiceNumber1" class="control-label"></label></b>
                    <input asp-for="InvoiceNumber1" class="form-control" required/>
                    <span asp-validation-for="InvoiceNumber1" class="text-danger"></span>
                </div>
                <div class="form-group col-md-5">
                    <b><label asp-for="InvoiceNumber2" class="control-label"></label></b>
                    <input asp-for="InvoiceNumber2" class="form-control" required/>
                    <span asp-validation-for="InvoiceNumber2" class="text-danger"></span>
                </div>
                <div class="form-group col-md-5">
                    <b><label asp-for="InvoiceDate1" class="control-label"></label></b>
                    <input asp-for="InvoiceDate1" class="form-control" required/>
                    <span asp-validation-for="InvoiceDate1" class="text-danger"></span>
                </div>
                <div class="form-group col-md-5">
                    <b><label asp-for="InvoiceDate2" class="control-label"></label></b>
                    <input asp-for="InvoiceDate2" class="form-control" required/>
                    <span asp-validation-for="InvoiceDate2" class="text-danger"></span>
                </div>
                <div class="form-group col-md-5">
                    <b><label asp-for="InvoiceDueDate1" class="control-label"></label></b>
                    <input asp-for="InvoiceDueDate1" class="form-control" required/>
                    <span asp-validation-for="InvoiceDueDate1" class="text-danger"></span>
                </div>
                <div class="form-group col-md-5">
                    <b><label asp-for="InvoiceDueDate2" class="control-label"></label></b>
                    <input asp-for="InvoiceDueDate2" class="form-control" required/>
                    <span asp-validation-for="InvoiceDueDate2" class="text-danger"></span>
                </div>
                <div class="form-group col-md-5">
                    <b><label asp-for="Bruto1" class="control-label"></label></b>
                    <input asp-for="Bruto1" class="form-control" required/>
                    <span asp-validation-for="Bruto1" class="text-danger"></span>
                </div>
                <div class="form-group col-md-5">
                    <b><label asp-for="Bruto2" class="control-label"></label></b>
                    <input asp-for="Bruto2" class="form-control" required/>
                    <span asp-validation-for="Bruto2" class="text-danger"></span>
                </div>
                <div class="form-group col-md-5">
                    <b><label asp-for="Neto1" class="control-label"></label></b>
                    <input asp-for="Neto1" class="form-control" required/>
                    <span asp-validation-for="Neto1" class="text-danger"></span>
                </div>
                <div class="form-group col-md-5">
                    <b><label asp-for="Neto2" class="control-label"></label></b>
                    <input asp-for="Neto2" class="form-control" required/>
                    <span asp-validation-for="Neto2" class="text-danger"></span>
                </div>
                <div class="form-group col-md-5">
                    <b><label asp-for="ReferenceNumber1" class="control-label"></label></b>
                    <input asp-for="ReferenceNumber1" class="form-control" required/>
                    <span asp-validation-for="ReferenceNumber1" class="text-danger"></span>
                </div>
                <div class="form-group col-md-5">
                    <b><label asp-for="ReferenceNumber2" class="control-label"></label></b>
                    <input asp-for="ReferenceNumber2" class="form-control" required/>
                    <span asp-validation-for="ReferenceNumber2" class="text-danger"></span>
                </div>
                <div class="form-group" style="padding-top: 20px;">
                    <input type="submit" value="OK" class="btn btn-primary" />
                </div>   
            </form>
        </div>
    </div>
</div>
<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.5.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.1/jquery.validate.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.11/jquery.validate.unobtrusive.min.js"></script>
