@model rpaapp.Models.Writer

@{
    ViewData["Title"] = "Create";
}

<div style="padding: 0 15px 0 15px;">
    <h1>Create a user</h1>

    <hr />
    <div class="row">
        <div class="col-md-6">
            <form asp-action="Create" id="frm" name="frm" enctype="multipart/form-data"> 
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group col-md-8">
                    <b><label asp-for="FirstName" class="control-label"></label></b>
                    <input asp-for="FirstName" class="form-control" required/>
                    <span asp-validation-for="FirstName" class="text-danger"></span>
                </div>
                <div class="form-group col-md-8">
                    <b><label asp-for="LastName" class="control-label"></label></b>
                    <input asp-for="LastName" class="form-control" required/>
                    <span asp-validation-for="LastName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Email"></label>
                    <input asp-for="Email" name="email" class="form-control" maxlength="50" minlength="6" data-val="true" data-val-required="Email is required." /> 
                    <span asp-validation-for="Email" data-valmsg-for="email" data-valmsg-replace="true" class="text-danger field-validation-valid"></span>
                </div>
                <div class="form-group">
                    <label>Password</label>                
                    <input type="password" asp-route-id="pw" name="pw" maxlength="50" minlength="6" class="form-control" data-val="true" data-val-required="The password is required." /> 
                    <span class="text-danger field-validation-valid" data-valmsg-for="pw" data-valmsg-replace="true"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>   
            </form>
        </div>
    </div>

    <div>
        <a asp-action="Index">Back to list</a>
    </div>
</div>
<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.5.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.1/jquery.validate.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.11/jquery.validate.unobtrusive.min.js"></script>
