@model Pdf

@{
    ViewData["Title"] = "Upload pdf";
}

<div style="padding: 0 15px 0 15px;">
    <h1>PDF uploader</h1>
    <hr class="col-md-4" />
    <div class="row" style="display: flex; flex-direction: row;"> 
        <div class="col-md-4">
            <form asp-controller="Pdfs" asp-action="Upload" enctype="multipart/form-data">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group" style="padding-top: 20px;">
                    <input type="file" name="files" accept="application/pdf" multiple>
                </div>
                <div class="form-group" style="padding-top: 20px;">
                    <input type="submit" value="Upload" class="btn btn-primary" style="width: 80px;" >
                </div>
            </form>
        </div>
    </div>
</div>

<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.5.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.1/jquery.validate.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.11/jquery.validate.unobtrusive.min.js"></script>
